name: build-and-test
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        configuration: [Debug, Release]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .net core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.428

      - name: Build solution - ${{ matrix.configuration }}
        run: dotnet build --configuration ${{ matrix.configuration }}
        working-directory: ./src

      - name: Run tests - ${{ matrix.configuration }}
        run: dotnet test --configuration ${{ matrix.configuration }}
        working-directory: ./src
